#cloud-config

package_update: true

runcmd:
  # Install prerequisites
  - apt-get install -y ca-certificates curl git

  # Setup Docker GPG key
  - install -m 0755 -d /etc/apt/keyrings
  - curl -fsSL https://download.docker.com/linux/debian/gpg -o /etc/apt/keyrings/docker.asc
  - chmod a+r /etc/apt/keyrings/docker.asc

  # Add Docker repository
  - |
      tee /etc/apt/sources.list.d/docker.sources <<EOF
      Types: deb
      URIs: https://download.docker.com/linux/debian
      Suites: $(. /etc/os-release && echo "$VERSION_CODENAME")
      Components: stable
      Signed-By: /etc/apt/keyrings/docker.asc
      EOF

  # Install Docker Engine
  - apt-get update
  - apt-get install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin

  # Clone down git repo
  - git clone https://github.com/LarsGJobloop/2026-01-iac-hetzner.git /app

  # Start compose application
  - cd /app # Change to the application folder
  - docker compose up # Start compose applicatino
